<!doctype html>
<html lang="en" ng-app="ToDoList"
  <head>
    <meta charset="utf-8">
    <title>To Do List:</title>
    <link rel="stylesheet" href="public/stylesheet.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <link rel="stylesheet" href="public/stylesheet.css">
    <script src="//use.edgefonts.net/advent-pro.js"></script>
  </head>


  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl">
      <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
      <ul>
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done"/>
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
      </form>

      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
    </div>

    <!--modules -->
    <script src="js/modules/app.js"></script>
    <!--controllers -->
    <script src="js/controllers/ToDoListController.js"></script>
    <!--services -->

  </body>
  </html>
