
body {
    background-image: url("http://t.wallpaperweb.org/wallpaper/nature/2560x1440/vintagebridge2560x1440wallpaper4201.jpg");
    background-color: #cccccc;
}



h2 {
  font-size: 2em;

  font-family: advent-pro, sans-serif;

  padding: 40px;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
 }
.emphasis {
  font-family: vast-shadow, sans-serif;
  font-size: 4em;
}

ul {

  text-align: center;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  color: #FFFFFF;
}

li {
  font-family: advent-pro, sans-serif;
  font-size: 2em;
  padding: 40px;

}

li input[type="checkbox"] {
  width: 40px;
}

.done-true {
  text-decoration: line-through;
  color: #FF00FF;
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  font-family: advent-pro, sans-serif;
  text-indent: 55px;
  color: #FFFFFF;
  background: -webkit-linear-gradient(90deg, #D3959B 10%, #BFE6BA 90%); /* Chrome 10+, Saf5.1+ */


}
.add-btn {
  border-radius: 25px;
    border: 2px solid #;
    padding: 20px;
    width: 200px;
    height: 150px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  h2 {
   padding: 0;
   font-size: 4em;
   font-family: advent-pro, sans-serif;
   color: #FFFFFF;
  }
}

.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  font-size: 2em;
  font-family: advent-pro, sans-serif;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}
